<footer style="text-align:center; margin-top:30px;">

    <hr>

    <p>
        Created with ❤️ using EJS by
        <strong>Anil Roy</strong>
    </p>

    <p>
        Current Year:
        <%= new Date().getFullYear() %>
    </p>

</footer>